.magic-dropdown-menu::-webkit-scrollbar {
  width: 11px;
}
.magic-dropdown-menu {
  scrollbar-width: thin;
  scrollbar-color: rgb(235, 235, 235) rgb(247, 247, 247) !important;
}
.magic-dropdown-menu::-webkit-scrollbar-track {
  background: lightGray !important;
}
.magic-dropdown-menu::-webkit-scrollbar-thumb {
  background-color: lightGray !important ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.dropdown-submenu:hover .dropdown-menu{
   opacity: 1;
    visibility: visible;
}